.house-card {
	max-width: 300px;
	height: 500px;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 42% 42% 16%;
	grid-template-areas: 'image' 'text' 'stats';
	border-radius: 18px;
	background: whitesmoke;
	box-shadow: 5px 5px 15px var(--box_shadow_color);
	text-align: center;
	transition: var(--big_card_duration) all;
}
.house-card:hover {
	margin: 10px 10px;
	transform: scale(var(--big_card_item_grow));
}

.house-card-image {
	grid-area: 'image';
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-size: cover;
}
.house-card-text .date {
	color: #578688;
	font-size: 14px;
}
.house-card-text p {
	color: #000000;
	font-size: 15px;
	font-weight: 300;
}
.house-card-text h2 {
	color: #000000;
	font-size: 28px;
	margin-top: 0;
}
.house-card-text {
	z-index: 3;
	grid-area: 'text';
	margin: 25px;
}

.house-card-stats {
	grid-area: 'stats';
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background: #77babd;
}
.house-card-stats .stat {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	color: white;
}
.house-card-stats .type {
	font-size: 14px;
	font-weight: 300;
}
.house-card-stats .right-border {
	border-right: 1px solid white;
}
.house-card-stats .value {
	font-size: 20px;
	font-weight: 500;
}
