.house-details-container {
	width: 100%;
	background-color: rgba(87, 134, 136, 1);
	margin: 50px 0 20px 0;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.house-details {
	margin: auto;
	width: 70%;
	padding: 20px 10px 20px 10px;
	background-color: rgba($color: whitesmoke, $alpha: 0.4);
	border-radius: 18px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 50px;
	row-gap: 15px;
	column-gap: 15px;
}
#propertyCard {
	grid-row-start: 1;
	grid-row-end: 3;
}
.address {
	background-color: whitesmoke;
	padding: 20px;
	margin-bottom: 30px;
	border-radius: 18px;
	color: #578688;
	box-shadow: 5px 5px 15px rgba($color: #578688, $alpha: 0.4);
	width: 100%;
	font-size: 28px;
	display: flex;
	justify-content: center;
	width: 40%;
}
.house-highlights {
	background-color: rgb(245, 245, 245);
	padding: 20px;
	border-radius: 18px;
	box-shadow: 5px 5px 15px rgba($color: #578688, $alpha: 0.4);

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

h1 {
	font-weight: bold;
	padding-bottom: 30px;
}
h3 {
	color: rgb(75, 196, 45);
	font-weight: 900;
}
.highlights-row {
	padding: 10px;
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-areas: 'text' 'value';
	width: 100%;
	border-bottom: 1px solid rgba($color: #578688, $alpha: 0.5);
	.row-value {
		grid-area: 'value';
		display: flex;
		justify-content: flex-end;
	}
	.row-text {
		grid-area: 'text';
		display: flex;
		justify-content: flex-start;
	}
}
.prop-type {
	background-color: rgba($color: #578688, $alpha: 0.5);
	color: white;
	font-size: 19px;
}
.prop-footer {
	padding-top: 20px;
	font-size: 10px;
	font-weight: 300;
}
.seperator {
	border: 1px solid rgba($color: #578688, $alpha: 0.5);
	background-color: #578688;
	padding: 1px;
	margin: 2px;
	width: 100%;
}

.buy-token-btn {
	background-color: rgb(251, 199, 98);
	color: #578688;
	font-size: 25px;
	cursor: pointer;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 30px;
	border-radius: 40px;
	width: 100%;
	transition: all 0.3s ease 0s;
}
.buy-token-btn:hover {
	background-color: whitesmoke;
	color: #578688;
}
.buy-token-btn a:visited {
	color: #578688;
}
