.parallax-el {
	background: url('../assets/pictures/foreground-clouded.png') no-repeat 50% 50%;
	background-size: contain;
	position: absolute;
	width: 100%;
	height: 70%;
	top: 30%;
}

.landing-title {
	background: url('../assets/pictures/title.png') no-repeat 50% 50%;
	background-size: contain;
	width: 80%;
	height: 15%;
	position: absolute;
	top: 25%;
	left: 10%;
}
.landing-sub-title {
	background: url('../assets/pictures/catchPhrase.png') no-repeat 50% 50%;
	background-size: contain;
	width: 35%;
	height: 15%;
	position: absolute;
	top: 36%;
	left: 32.5%;
}
.clouds {
	background: url('../assets/pictures/cloud.png') no-repeat 50% 50%;
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100vh;
}
.section-2-whitespace {
	width: 100%;
	height: 100vh;
}
.section-2-content {
	background: whitesmoke;
	height: 100vh;
	width: 100%;
	padding: 20px;
	position: absolute;
	z-index: 1000;
	h2 {
		width: 30%;
		margin: 50px 0 0 50px;
		font-size: 40px;
		color: #578688;
		border-bottom: 3px solid #578688;
		display: block;
	}
	p {
		width: 60%;
		padding: 20px 0 40px 60px;
		text-align: left;
		text-indent: 20px;
		line-height: 1.5;
	}
}
