@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
:root {
	--themeColor: rgb(87, 134, 136);
	--secondThemeColor: rgb(193, 215, 230);
	--thirdThemeColor: rgb(251, 199, 98);
	--box_shadow_color: rgba(87, 134, 136, 0.5);
	--big_card_item_grow: 1.05;
	--big_card_duration: 250ms;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: whitesmoke;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 16px;
	overflow-x: hidden;
}
router-link {
	text-decoration: none;
}
a {
	text-decoration: none;
}
.logo-text {
	font-family: 'Montserrat Subrayada', sans-serif;
	font-weight: 900;
	font-size: 2em;
	padding: 0;
	margin: 0;
	color: #578688;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
.logo-text:hover {
	color: whitesmoke;
}
.logo-text:visited {
	color: #578688;
}

.etherestate-button-1 {
	cursor: pointer;
	color: whitesmoke;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 10px 30px;
	border-radius: 40px;
	background-color: #578688;
	text-align: center;
	transition: all 0.3s ease 0s;
}
.etherestate-button-1:hover {
	color: #578688;
	background-color: whitesmoke;
}
.etherestate-button-1:visited {
	color: whitesmoke;
	background-color: #578688;
}
header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 5vh 10ch;
}
